/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-left: -10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(46, 46, 46);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    background-color: black;
}

body div.container-after-titlebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px calc(100% - (65px + (30px + 250px))) calc(30px + 250px);
    margin-top: 30px;
    height: 100vh;
    overflow: hidden !important;
    
    position: initial !important;
    inset: 0 !important;
}

p, h1, h2, h3, h4, h5, h6, span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

svg.svg-filter {
    width: 0px;
    height: 0px;
}

button {
    background: none;
    border: none;
    fill: var(--white);
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button svg {
    width: 24px;
    height: 24px;
}

main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 255px calc(100% - (65px - 255px)) 250px;
    margin-top: -65px;
}

main aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 225px auto;
    grid-template-rows: repeat(2, calc(225px / 2));
    column-gap: 15px;
    row-gap: 15px;
    position: relative;
    z-index: 10;
    padding: 15px;
    background: 
        linear-gradient(
            180deg, 
            rgba(var(--black-rgb), 0.5) 0%,
            rgba(var(--black-rgb), 0) 95%
        );
    backdrop-filter: blur(5px);
}

main aside img.cover {
    width: 225px;
    height: 225px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

main aside div.info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

main aside div.info span {
    display: block;
    font-weight: 400;
}

main aside h2.title {
    grid-column-start: 2;
    grid-row-start: 1;
    height: fit-content;
    font-size: 36px;
    font-weight: 500;
}

main section.track-list {
   grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: auto;
    /* Breaks by more than ±1000 rows */
    /* Mabey use a table */
    grid-template-rows: repeat(auto-fill, 55px);
    row-gap: 10px;
    overflow: auto;
    padding-top: calc(75px + 255px);
    padding-left: 15px;
}

main section.track-list div.track-row {
    display: grid;
    grid-template-columns: 55px calc(30% - 55px) 27% 23% 7% 13%;
    grid-template-rows: 55px;
    background-color: rgba(var(--white-rgb), .4);
}

main section.track-list div.track-row.playing {
    animation-name: playing-animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg,
        rgb(var(--white-rgb), .4),
        rgb(var(--green-rgb), .4),
        rgb(var(--white-rgb), .4)
        );
    background-size: 200% 200%;

}

main section.track-list div.track-row.end {
    height: calc(250px + 260px);
    background-color: transparent;
}

main section.track-list div.track-row div.cover-overlay {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
    z-index: 2;
    opacity: 0;
    transition-delay: 10ms;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    background-color: rgba(var(--black-rgb), .3);
    margin: 1px;
}

main section.track-list div.track-row div.cover-overlay:hover {
    opacity: 1;
}

main section.track-list div.track-row div.cover-overlay,
main section.track-list div.track-row div.cover-overlay button,
main section.track-list div.track-row div.cover-overlay button svg {
    height: 53px;
    width: 53px;
}

main section.track-list div.track-row div.cover-overlay button.play {
    
}

main section.track-list div.track-row div.cover-overlay button.pause {
    display: none;
}

main section.track-list div.track-row div.cover-overlay button svg {
    filter: url(#inset-shadow-next);
}

main section.track-list div.track-row img.cover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 53px;
    height: 53px;
    margin: 1px;
}

main section.track-list div.track-row span {
    align-self: center;
    font-weight: 700;
    margin: 16px;
}

main section.track-list div.track-row span.track-artist a:not(:last-child)::after {
    content: ',';
}

main section.track-list div.track-row span.track-duration,
main section.track-list div.track-row span.track-add-date {
    text-align: end;
}

div.background-image {
    filter: blur(25px);
    opacity: 0.5;
    position: absolute;
    z-index: -1000;
    height: 110vh;
    width: 110vw;
    transform: translate(-5%, -5%);
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 1400px) {
    main {
        grid-template-columns: 27% 73%;
        grid-template-rows: 65px calc(100% - 65px) 250px;
    }
    main aside {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 225px auto;
        grid-template-rows: 225px auto;
        background: none;
        backdrop-filter: none;
    }
    main section.track-list {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        padding-top: 75px;
        padding-left: 0;
    }
    main aside img.cover {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main aside div.info {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main aside h2.title {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        white-space: break-spaces;
    }
    main section.track-list div.track-row.end {
        height: 250px;
    }
}

@keyframes playing-animation {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}