/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-left: -10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(46, 46, 46);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px calc(100% - (65px + 250px)) 250px;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6, span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

svg.svg-filter {
    width: 0px;
    height: 0px;
}

button {
    background: none;
    border: none;
    fill: var(--white);
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button svg {
    width: 24px;
    height: 24px;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: rgba(var(--black-rgb), .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 500;
    display: flex;
    overflow-x: scroll;
    cursor: grab;
}

header:active {
    cursor: grabbing;
}

header:active nav.playlist-list a {
    cursor: grabbing;
}

header nav.playlist-list {
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    position: absolute;
    width: max-content;
}

header nav.playlist-list a.playlist-link {
    font-weight: 500;
    font-size: 18px;
    margin-right: 35px;
}

header nav.playlist-list a.playlist-link:last-child {
    margin-right: 0px;
}

main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 255px calc(100% - (65px - 255px)) 250px;
    margin-top: -65px;
}

main aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 225px auto;
    grid-template-rows: repeat(2, calc(225px / 2));
    column-gap: 15px;
    row-gap: 15px;
    position: relative;
    z-index: 10;
    padding: 15px;
    background: 
        linear-gradient(
            180deg, 
            rgba(var(--black-rgb), 0.5) 0%,
            rgba(var(--black-rgb), 0) 95%
        );
    backdrop-filter: blur(5px);
}

main aside img.cover {
    width: 225px;
    height: 225px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

main aside div.info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

main aside div.info span {
    display: block;
    font-weight: 400;
}

main aside h2.title {
    grid-column-start: 2;
    grid-row-start: 1;
    height: fit-content;
    font-size: 36px;
    font-weight: 500;
}

main section.track-list {
   grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, 55px);
    row-gap: 10px;
    overflow: auto;
    padding-top: calc(75px + 255px);
    padding-left: 15px;
}

main section.track-list div.track-row {
    display: grid;
    grid-template-columns: 55px calc(35% - 55px) calc(30% - 55px) calc(25% - 55px) calc(12% - 55px) calc(15% - 55px);
    grid-template-rows: 55px;
    background-color: rgba(var(--white-rgb), .4);
}

main section.track-list div.track-row.end {
    height: calc(250px + 260px);
    background-color: transparent;
}

main section.track-list div.track-row div.cover-overlay {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
    z-index: 2;
    opacity: 0;
    transition-delay: 10ms;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    background-color: rgba(var(--black-rgb), .3);
    margin: 1px;
}

main section.track-list div.track-row div.cover-overlay:hover {
    opacity: 1;
}

main section.track-list div.track-row div.cover-overlay,
main section.track-list div.track-row div.cover-overlay button,
main section.track-list div.track-row div.cover-overlay button svg {
    height: 53px;
    width: 53px;
}

main section.track-list div.track-row div.cover-overlay button.play {
    
}

main section.track-list div.track-row div.cover-overlay button.pause {
    display: none;
}

main section.track-list div.track-row div.cover-overlay button svg {
    filter: url(#inset-shadow-next);
}

main section.track-list div.track-row img.cover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 53px;
    height: 53px;
    margin: 1px;
}

main section.track-list div.track-row span {
    align-self: center;
    font-weight: 700;
    margin: 16px;
}

main section.track-list div.track-row span.track-duration,
main section.track-list div.track-row span.track-add-date {
    text-align: end;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgba(var(--white-rgb), .4);
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: 250px auto;
    position: relative;
    z-index: 500;
}

footer section.information-overlay {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50% 50%;
    column-gap: 17px;
}

footer section.information-overlay section.controls {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: rgba(var(--black-rgb), .5);
    position: relative;
    z-index: 2;
    display: flex;
    opacity: 0;
    transition-delay: 10ms;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

footer section.information-overlay section.controls:hover {
    opacity: 1;
}


footer section.information-overlay section.controls button {
    align-self: center;
}

footer section.information-overlay section.controls button.back,
footer section.information-overlay section.controls button.next {
    height: 88px;
    width: 88px;
    margin: 0 -7px;
}

footer section.information-overlay section.controls button.back {
    transform: rotate(180deg);
}

footer section.information-overlay section.controls button.pause {
    display: none;
}

footer section.information-overlay section.controls button.play,
footer section.information-overlay section.controls button.pause {
    width: 150px;
    height: 150px;
    margin: 0 -25px;
}

footer section.information-overlay section.controls button.back svg,
footer section.information-overlay section.controls button.next svg {
    height: 88px;
    width: 88px;
}

footer section.information-overlay section.controls button.back svg {
    filter: url(#inset-shadow-back);
}

footer section.information-overlay section.controls button.next svg {
    filter: url(#inset-shadow-next);
}

footer section.information-overlay section.controls button.play svg,
footer section.information-overlay section.controls button.pause svg {
    width: 150px;
    height: 150px;
    filter: url(#inset-shadow-play-pause);
}

footer section.information-overlay img.cover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    
    height: 250px;
    width: 250px;
    filter: drop-shadow(5px 0px 10px rgba(0, 0, 0, 0.3));
}

footer section.information-overlay div.overlay-top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}

footer section.information-overlay div.overlay-top span {
    align-self: center;
}

footer section.information-overlay div.overlay-top span.playing-title {
    font-size: 36px;
    display: block;
}

footer section.information-overlay div.overlay-top span.playing-artist {
    font-size: 30px;
    display: block;
}


footer section.information-overlay div.overlay-bottom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

footer section.information-overlay div.overlay-bottom span.time {
    font-family: 'Digital Numbers';
    font-size: 25px;
}

footer section.information-overlay div.overlay-bottom button {
    vertical-align: text-bottom;
}

footer section.information-overlay div.overlay-bottom button.active {
    fill: var(--green);
}

footer section.progress-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    
    background-color: rgba(var(--dark-purple-rgb), .6);
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: -100;
    transition-property: width;
    transition-timing-function: linear;
    transition-duration: 0s;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

footer section.progress-bar .needle {
    height: calc(100% + 10px);
    width: 2px;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: -5px;
    padding-left: 100%;
}

footer section.progress-bar .needle div {
    align-self: center;
}

footer section.progress-bar .needle .triangle-down {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid var(--black);
    margin-top: -2px;
}

footer section.progress-bar .needle .triangle-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid var(--black);
    margin-bottom: -2px;
}

footer section.progress-bar .needle .line {
    width: 4px;
    height: calc(100% - 25px);
    background-color: var(--black);
    margin-top: -4px;
    margin-bottom: -4px;
}

footer section.progress-bar .needle .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--black);
}

div.background-image {
    filter: blur(25px);
    opacity: 0.5;
    position: absolute;
    z-index: -1000;
    height: 110vh;
    width: 110vw;
    transform: translate(-5%, -5%);
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 1400px) {
    main {
        grid-template-columns: 27% 73%;
        grid-template-rows: 65px calc(100% - 65px) 250px;
    }
    main aside {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 225px auto;
        grid-template-rows: 225px auto;
        background: none;
    }
    main section.track-list {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        padding-top: 75px;
        padding-left: 0;
    }
    main aside img.cover {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main aside div.info {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main aside h2.title {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        white-space: break-spaces;
    }
    main section.track-list div.track-row.end {
        height: 250px;
    }
}
